<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tao.dao.TbCollectionMapper" >
  <resultMap id="BaseResultMap" type="com.tao.TbCollection" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="commodityid" property="commodityid" jdbcType="INTEGER" />
    <result column="shoppingcat_collection" property="shoppingcatCollection" jdbcType="CHAR" />
    <result column="createdtime" property="createdtime" jdbcType="DATE" />
    <result column="updatedtime" property="updatedtime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userid, commodityid, shoppingcat_collection, createdtime, updatedtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tao.TbCollectionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_collection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_collection
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_collection
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tao.TbCollectionExample" >
    delete from tb_collection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tao.TbCollection" >
    insert into tb_collection (id, userid, commodityid, 
      shoppingcat_collection, createdtime, updatedtime
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{commodityid,jdbcType=INTEGER}, 
      #{shoppingcatCollection,jdbcType=CHAR}, #{createdtime,jdbcType=DATE}, #{updatedtime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tao.TbCollection" >
    insert into tb_collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="commodityid != null" >
        commodityid,
      </if>
      <if test="shoppingcatCollection != null" >
        shoppingcat_collection,
      </if>
      <if test="createdtime != null" >
        createdtime,
      </if>
      <if test="updatedtime != null" >
        updatedtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="commodityid != null" >
        #{commodityid,jdbcType=INTEGER},
      </if>
      <if test="shoppingcatCollection != null" >
        #{shoppingcatCollection,jdbcType=CHAR},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=DATE},
      </if>
      <if test="updatedtime != null" >
        #{updatedtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tao.TbCollectionExample" resultType="java.lang.Integer" >
    select count(*) from tb_collection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_collection
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.commodityid != null" >
        commodityid = #{record.commodityid,jdbcType=INTEGER},
      </if>
      <if test="record.shoppingcatCollection != null" >
        shoppingcat_collection = #{record.shoppingcatCollection,jdbcType=CHAR},
      </if>
      <if test="record.createdtime != null" >
        createdtime = #{record.createdtime,jdbcType=DATE},
      </if>
      <if test="record.updatedtime != null" >
        updatedtime = #{record.updatedtime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_collection
    set id = #{record.id,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      commodityid = #{record.commodityid,jdbcType=INTEGER},
      shoppingcat_collection = #{record.shoppingcatCollection,jdbcType=CHAR},
      createdtime = #{record.createdtime,jdbcType=DATE},
      updatedtime = #{record.updatedtime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tao.TbCollection" >
    update tb_collection
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="commodityid != null" >
        commodityid = #{commodityid,jdbcType=INTEGER},
      </if>
      <if test="shoppingcatCollection != null" >
        shoppingcat_collection = #{shoppingcatCollection,jdbcType=CHAR},
      </if>
      <if test="createdtime != null" >
        createdtime = #{createdtime,jdbcType=DATE},
      </if>
      <if test="updatedtime != null" >
        updatedtime = #{updatedtime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tao.TbCollection" >
    update tb_collection
    set userid = #{userid,jdbcType=INTEGER},
      commodityid = #{commodityid,jdbcType=INTEGER},
      shoppingcat_collection = #{shoppingcatCollection,jdbcType=CHAR},
      createdtime = #{createdtime,jdbcType=DATE},
      updatedtime = #{updatedtime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>